@import "tailwindcss";

:root {
  --background: #101318;
  --foreground: #f8fafc;
  --card: #191d24;
  --card-foreground: #f8fafc;
  --popover: #191d24;
  --popover-foreground: #f8fafc;
  --primary: #3b6eb4;
  --primary-foreground: #f8fafc;
  --secondary: #2b303b;
  --secondary-foreground: #f8fafc;
  --muted: #2b303b;
  --muted-foreground: #94a3b8;
  --accent: #363d49;
  --accent-foreground: #f8fafc;
  --destructive: #cc3333;
  --destructive-foreground: #f8fafc;
  --border: #383d47;
  --input: #2b303b;
  --ring: #3b6eb4;
  --chart-1: #e08152;
  --chart-2: #5252e0;
  --chart-3: #81e052;
  --chart-4: #e052e0;
  --chart-5: #e0b152;
  --sidebar: #101318;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #3b6eb4;
  --sidebar-primary-foreground: #f8fafc;
  --sidebar-accent: #363d49;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #383d47;
  --sidebar-ring: #3b6eb4;
  --font-sans: 'MagicTheGatheringFont', sans-serif;
  --font-serif: 'MagicTheGatheringFontSerif', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.375rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: -0.125rem;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0rem 0.5rem 0.75rem -0.125rem hsl(0 0% 0% / 0.15);
  --shadow-xs: 0rem 0.5rem 0.75rem -0.125rem hsl(0 0% 0% / 0.15);
  --shadow-sm: 0rem 0.5rem 0.75rem -0.125rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -1.125px hsl(0 0% 0% / 0.30);
  --shadow: 0rem 0.5rem 0.75rem -0.125rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -1.125px hsl(0 0% 0% / 0.30);
  --shadow-md: 0rem 0.5rem 0.75rem -0.125rem hsl(0 0% 0% / 0.30), 0rem 2px 4px -1.125px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0rem 0.5rem 0.75rem -0.125rem hsl(0 0% 0% / 0.30), 0rem 4px 6px -1.125px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0rem 0.5rem 0.75rem -0.125rem hsl(0 0% 0% / 0.30), 0rem 8px 10px -1.125px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0rem 0.5rem 0.75rem -0.125rem hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}